@page
@model GallaryModel
@{
    ViewData["Title"] = "Gallary";
}
<br />
<h3 class="text-primary">@ViewData["Title"]</h3>
<br />
<p>The well planned and lush green layout as per HMDA norms. This colony is blessed with a lovely Hanuman Template at the entrance and neatly labeled sign boards for each road, street, under CCTV Vigilance and Neatly laid CC roads. Safety comes as our top priority. We here reside as one large, well aware, United family. All festivals are celebrated with utmost joy and merrient. Women are always ahead in organizing fun filled events, participation by kids give them a lot of pleasure, confidente and satisfaction. the park is getting upgraded with amenities such as Kids Play Area, Swings, Badminto Court, Volleyball Court, Multi Use stage, Storage Rooms, Watch man room. Well equipped with advanced facility of rain water harvesting pit. Regular maintenance like grasss cutting, Tree plantations, cleanliness are always in process. Installation of dustbins to keep the Colony clean & green, Shall be our next step, Main colony CC roads are already laid and Once the bylanes are laid it will bring a big Grin on the residents face.</p>
