@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<h3 class="text-primary">@ViewData["Title"]</h3>
<br/>
<p>If you would like to add/remove or update any content in Srinivasa Nagar Colony Welfare Association Web Site, Please contact</p>
<p class="text-primary">Nagi Setty</p>
<p class="text-secondary">+91 9849226425</p>
<p class="text-secondary">nagisetty1@gmail.com</p>
