@page
@model GallaryModel
<br />
@{
    ViewData["Title"] = "Home";
}

<div>
    @foreach (ImageDetails directory in Model.ListOfImages)
    {
        <h3 class="text-primary">@directory.DirectoryName.Replace("wwwroot/Images/","")</h3>
        <br />
        foreach (string imageName in directory.ImageNames)
        {
            <img src="@Url.Content(imageName.Replace("wwwroot/", ""))" width="800" height="500" />
        }
    }
</div>
