@page
@model IndexModel
<br />
@{
    ViewData["Title"] = "Home";
}
<h3 class="text-primary">Body Members</h3>
<br />
<div>

    <div><div class="text-primary">President:</div> R Nagesh (+91 9440862838)</div>
    <div><div class="text-primary">General Secretary:</div> M Yadhaiah (+91 9948668663)</div>
    <div><div class="text-primary">Treasurer:</div> G Raghavender Goud (Raghav) (+91 9849695888)</div>
    <div><div class="text-primary">Vice President1:</div> M Kiran (+91 8328651422)</div>
    <div><div class="text-primary">Vice President2:</div> P Krishna Reddy (+91 9885066770)</div>
    <div><div class="text-primary">Joint Secretary:</div> Mohd Saleem (+91 9949967831)</div>
    <div><div class="text-primary">Asst Treasurer:</div> J Krishna Prasad (+91 9948235230)</div>
    <div><div class="text-primary">Organising Secretary:</div> Avinash Kumar Singh (+91 8499079656),<br/> S Satya Reddy (+91 9849099925)</div>

    <div>
        <br />
        <div class="text-primary">
            Advisors:
        </div>
        <br />
            K Rajagopal Charyulu
            <br />
            A Vishnu Murthy
            <br />
            P Surender
            <br />
            K Manga Rao
            <br />
            P Srinivasulu
        </div>
    @*<div>
        <br />
        <div class="text-primary">
            Committee Members:
        </div><br />
        K Srinivas
        <br />
        K Kiran Kumar
        <br />
        MV Vijay Kumar
        <br />
        K Laxman Raju
        <br />
        N Bala Subrahmanyam
        <br />
        D Jagadish Kumar
        <br />
        Shyam Singh
        <br />
        G Srinivas
        <br />
        A Satyanarayana
        <br />
        S Ravinder
        <br />
        B RAtnakar
        <br />
        P Padmaja
        <br />
        Neha Swing
    </div>*@
</div>
